@import '~antd/dist/antd.css';

.ant-upload-select-picture-card i {
    color: #999;
    font-size: 32px;
}

.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
}

.upload-container {
    align-items: center;
    justify-content: center;
    margin: 15px;
}
